@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.jpk-sublink {
		@apply hover:text-black text-zinc-400 dark:hover:text-white dark:text-zinc-500 transition-colors duration-200;
	}
	.jpk-tools {
		@apply pb-4 dark:text-zinc-600 text-zinc-400 uppercase;
	}
	.jpk-link {
		@apply hover:text-black dark:hover:text-white transition-colors duration-200;
	}

	.jpk-theme {
		@apply text-zinc-700 dark:text-zinc-200 bg-zinc-100 dark:bg-zinc-900;
	}

	.jpk-main-link {
		@apply bg-zinc-200 dark:bg-zinc-700 dark:text-zinc-200 px-1;
	}

	.grid-polka-2 {
		background-color: transparent;
		opacity: 1;
		background-image:
			radial-gradient(var(--color-old-zinc-600) 0.5px, transparent 0.5px),
			radial-gradient(transparent 0.5px, transparent 0.5px);
		background-size: 10px 10px;
		background-position:
			0 0,
			10px 10px;
	}

	html.dark {
		scrollbar-color: #9f9f9f #18181b;
	}

	html {
		scrollbar-color: #a4a4a6 #f4f4f5;
	}
}

@layer components {
	.jpk-navbar:hover {
		animation: show forwards;
	}

	.jpk-navbar {
		animation: hide 900ms 3000ms forwards;
	}

	.jpk-navbar-none {
		animation: show 0ms forwards;
	}

	@keyframes hide {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes show {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
